:root {
  --text-sm-semibold-font-family: "Inter", Helvetica;
  --text-sm-semibold-font-weight: 600;
  --text-sm-semibold-font-size: 14px;
  --text-sm-semibold-letter-spacing: 0px;
  --text-sm-semibold-line-height: 20px;
  --text-sm-semibold-font-style: normal;
  --display-xs-semibold-font-family: "Inter", Helvetica;
  --display-xs-semibold-font-weight: 600;
  --display-xs-semibold-font-size: 24px;
  --display-xs-semibold-letter-spacing: 0px;
  --display-xs-semibold-line-height: 32px;
  --display-xs-semibold-font-style: normal;
  --text-md-normal-font-family: "Inter", Helvetica;
  --text-md-normal-font-weight: 400;
  --text-md-normal-font-size: 16px;
  --text-md-normal-letter-spacing: 0px;
  --text-md-normal-line-height: 24px;
  --text-md-normal-font-style: normal;
  --text-sm-medium-font-family: "Inter", Helvetica;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-medium-font-style: normal;
  --text-lg-semibold-font-family: "Inter", Helvetica;
  --text-lg-semibold-font-weight: 600;
  --text-lg-semibold-font-size: 18px;
  --text-lg-semibold-letter-spacing: 0px;
  --text-lg-semibold-line-height: 28px;
  --text-lg-semibold-font-style: normal;
  --variable-collection-main-black-screen: rgba(13, 13, 13, 1);
  --variable-collection-main-text: rgba(255, 255, 255, 1);
  --variable-collection-sub-head-text: rgba(224, 224, 224, 1);
  --variable-collection-error: rgba(238, 77, 55, 1);
  --variable-collection-warning: rgba(240, 141, 50, 1);
  --variable-collection-info: rgba(20, 76, 199, 1);
  --variable-collection-SUCESS: rgba(6, 194, 112, 1);
  --variable-collection-color: rgba(180, 154, 255, 1);
  --variable-collection-color-2: rgba(210, 194, 255, 1);
  --variable-collection-color-3: rgba(157, 255, 214, 1);
  --variable-collection-color-4: rgba(247, 255, 198, 1);
  --variable-collection-color-5: rgba(210, 210, 210, 1);
  --variable-collection-sub-text-color: rgba(141, 149, 153, 1);
  --variable-collection-color-6: rgba(106, 53, 255, 1);
  --variable-collection-color-7: rgba(255, 135, 68, 1);
  --variable-collection-color-8: rgba(255, 66, 111, 1);
  --variable-collection-color-9: rgba(255, 203, 69, 1);
  --variable-collection-color-10: rgba(229, 254, 64, 1);
  --variable-collection-color-11: rgba(170, 63, 255, 1);
  --variable-collection-color-12: rgba(59, 255, 173, 1);
  --variable-collection-color-13: rgba(118, 255, 198, 1);
  --variable-collection-color-14: rgba(195, 121, 255, 1);
  --variable-collection-color-15: rgba(237, 254, 121, 1);
  --variable-collection-color-16: rgba(151, 114, 255, 1);
  --variable-collection-color-17: rgba(255, 171, 124, 1);
  --AOSP-schemes-on-surface: rgba(23, 29, 27, 1);
  --AOSP-schemes-scrim: rgba(0, 0, 0, 1);
  --kit-camera: rgba(46, 46, 46, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-AOSP-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-AOSP-mode="light"] {
  --AOSP-schemes-on-surface: rgba(23, 29, 27, 1);
}

[data-AOSP-mode="light-high-contrast"] {
  --AOSP-schemes-on-surface: rgba(0, 0, 0, 1);
}

[data-AOSP-mode="light-medium-contrast"] {
  --AOSP-schemes-on-surface: rgba(23, 29, 27, 1);
}

[data-AOSP-mode="dark"] {
  --AOSP-schemes-on-surface: rgba(221, 228, 225, 1);
}

[data-AOSP-mode="dark-high-contrast"] {
  --AOSP-schemes-on-surface: rgba(255, 255, 255, 1);
}

[data-AOSP-mode="dark-medium-contrast"] {
  --AOSP-schemes-on-surface: rgba(246, 252, 249, 1);
}
